:root {
  --clr-blue: #2a3e59;
  --clr-blue-d: #051429;
  --clr-blue-d-50: #051429cb;
  --clr-orange: #f56b1e;
  --clr-white: #faf8f6;
  --clr-white-50: #faf8f611;
  --clr-gray: #faf8f6;
  --clr-black: #1c1c1c;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.bg-hero {
  background: url("../img/hero_img.png") center/cover no-repeat;
}

.bg-blue-d {
  background-color: var(--clr-blue-d) !important;
}

.bg-gray {
  background-color: var(--clr-gray) !important;
}

.bg-blue-d-50 {
  background-color: var(--clr-blue-d-50) !important;
}

.text-white {
  color: var(--clr-white) !important;
}

.text-black {
  color: var(--clr-black) !important;
}

.text-orange {
  color: var(--clr-orange) !important;
}

.bg-orange {
  background-color: var(--clr-orange) !important;
}

.fs-7 {
  font-size: 0.8rem !important;
}

.fs-8 {
  font-size: 0.7em !important;
}

.border-white-50 {
  border-color: var(--clr-white-50) !important;
}

.card-lancamentos, .card-vendas {
  cursor: pointer;
}

.card-lancamentos-figure::before {
  content: "";
  width: 100%;
  height: 500px;
  background-image: linear-gradient(to top, var(--clr-blue-d-50), transparent);
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
}

.card-lancamentos-bg, .card-vendas-bg {
  transition: all 0.3s;
}

.card-lancamentos-tag {
  top: 20px;
  right: -100%;
  padding: 0.2rem 0 0.15rem 0;
  transition: all 0.3s;
}

.card-lancamentos-tag:nth-child(2) {
  top: 45px;
}

.card-lancamentos:hover > .card-lancamentos-figure::before {
  opacity: 0;
}

.card-lancamentos:hover > .card-lancamentos-figure > .card-lancamentos-bg,
.card-vendas:hover > .card-vendas-figure > .card-vendas-bg {
  scale: 1.1;
}

.card-lancamentos:hover > .card-lancamentos-figure > .card-lancamentos-tag {
  right: 0;
}

.card-small::before {
  content: "";
  width: 90%;
  height: 100%;
  background-image: linear-gradient(to right, var(--clr-blue-d), transparent);
  opacity: 0.9;
  position: absolute;
  bottom: 0;
  left: 0;
}

.itens-select-dropdown:last-child {
  padding-bottom: 1rem !important;
}

.button-search {
  transition: all 0.3s;
}

.button-search:hover {
  background-color: var(--clr-white) !important;
  color: var(--clr-orange) !important;
}

.menu {
  max-width: 300px;
  left: -100%;
  transition: all 0.3s;
}

.menu-bg {
  z-index: -10;
  opacity: 0.5;
  transition: all 0.3s;
}

.gutter-x4 {
  --bs-gutter-x: 4rem;
}

@media (max-width: 991px) {
  .cod-search > input {
    padding: 1rem !important;
    border-radius: 0 0 0 12px !important;
  }

  .logo-header {
    width: 100%;
  }

  .dropdown > div {
    width: 100%;
  }
}
